{% include "header.html" %}

<div style="overflow-x: hidden; background: url('../static/images/image-about.jpeg'); min-height: 930px; background-size: cover; overflow-y: hidden;">
    <div style="background-color: rgba(0, 0, 0, 0.5); width: auto; height: 930px; overflow-x: hidden; overflow-y: hidden;">
        <p class="about-into">Welcome</p>
        <p class="about-text">This info WebSite has been created in order to help you to find out the greatest places to work from</p>
        <p class="about-text">Since your role is very important for us. You can send some other places which you like, so we will add them here.</p>
    </div>
</div>

 <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  